* {
     box-sizing: 0;
}

body {
    background-color: #0D1117;
    color: #FAFAFA
}

main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 150px;
    position: fixed;
    height: 100%;
    text-align: center;
    background-color: #292c2f;
    color: #FAFAFA;
}

.sidebar a {
    padding: 20px;    
}


.markdown {
  margin-top: 5px;
  margin-left: 10%;
  width: 100%;
}

