
html{
    height: 100%;
    width: 100%;
}

body {
    background-color: #161B22;
    color: #FAFAFA;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.editor-container {
    height: 99%;
    width: 38%;
    display: inline-flex;
    gap: 10px;
    line-height: 20px;
    position: relative;
    font-family: 'Iosevka Web';
    flex : 1 0 20rem;
}

.editor:focus {
    outline: none;
}

.markdown-display {
    border-radius: 0.5%;
    height: 94%;
    width : 52%;
    margin-right: 30px;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding-left: 15px;
}

.markdown-display hr {
    width: 90%;
}

.line-numbers {
  padding-top: 14px;
  width: 20px;
  font-size: 1.4rem;
  text-align: right;
}

.line-numbers span {
  counter-increment: linenumber;
}


.line-numbers span::before {
  padding-bottom: 7px;
  content: counter(linenumber);
  display: block;
  color: #506882;
}

.plain,
.text {
  flex: 1 0 20rem;
  position: relative;
}

[data-el="input"] {
  border-width: 1px;
  color: transparent;
  caret-color: #FAFAFA;
  white-space: break-spaces;
  word-break: break-word;
  resize: vertical;
}

[data-el="input"][data-initialized="true"] {
  color: transparent;
  resize: none;
}

[data-el="highlight"] {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  white-space: break-spaces;
  word-break: break-word;
}

.plain__highlights {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  border: 1px solid transparent;
  pointer-events: none;
}

.editor, .plain__highlights {
  width: 95%;
  font-size: 1.2rem;
  font-family: 'Iosevka Web';
  margin: 0;
  padding: 0.7rem 1.4ch;
  line-height: 1.313;
  background : transparent;
  border : none;
  resize: none;
}

.action-button {
font-weight: bold;
font-family: 'Iosevka Web';
font-size: 0.92rem;
border-radius: 4px;
background: #8153A5;
color : #FAFAFA;
padding: 0 1rem;
height: 36px;
text-decoration: none;
text-align: center;
vertical-align: middle;
display: flex;
align-items: center;
justify-content: center;
transition: background 0.3s;
border : none;
}

.action-button:hover {
    transition: background-color, color 1s ease-in-out;
    background-color: #644B7B;
    color : #EBEBEB
}

.action-button:active{
    transform: scale(0.95);
    transition: transform 0.1s;
}

.top-navbar {
    display : flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 50px;
    transition : width, height 2s;
}

