html{
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: 0;
}

.dark-mode-body {
    color: #FAFAFA;
    background-color: #161B22;
}

.light-mode-body {
    color : black;
    background-color: #FFFFFF;
}

.editor-container {
    height: 99%;
    width: 38%;
    display: inline-flex;
    gap: 10px;
    line-height: 20px;
    position: relative;
    font-family: 'Iosevka Web';
    flex : 1 0 20rem;
}

.editor:focus {
    outline: none;
}

.markdown-display {
    border-radius: 0.5%;
    height: 94%;
    width : 52%;
    margin-right: 30px;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding-left: 15px;
}

.markdown-display hr {
    width: 90%;
}

.line-numbers {
  padding-top: 14px;
  width: 20px;
  font-size: 1.4rem;
  text-align: right;
}

.line-numbers span {
  counter-increment: linenumber;
}


.line-numbers span::before {
  padding-bottom: 5.5px;
  content: counter(linenumber);
  display: block;
  color: #506882;
}

.plain,
.text {
  flex: 1 0 20rem;
  position: relative;
}

[data-el="input"] {
  border-width: 1px;
  color: transparent;
  white-space: break-spaces;
  word-break: break-word;
  resize: vertical;
}

.dark-mode-input {
  caret-color: #FAFAFA;
}

.light-mode-input {
    caret-color: black;
}

[data-el="input"][data-initialized="true"] {
  color: transparent;
  resize: none;
}

[data-el="highlight"] {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  white-space: break-spaces;
  word-break: break-word;
}

.plain__highlights {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  border: 1px solid transparent;
  pointer-events: none;
}

.editor, .plain__highlights {
  width: 95%;
  font-size: 1.2rem;
  font-family: 'Iosevka Web';
  margin: 0;
  padding: 0.7rem 1.4ch;
  line-height: 1.313;
  background : transparent;
  border : none;
  resize: none;
}

.action-button {
font-weight: bold;
font-family: 'Iosevka Web';
font-size: 0.92rem;
border-radius: 4px;
padding: 0 1rem;
height: 36px;
text-decoration: none;
text-align: center;
vertical-align: middle;
display: flex;
align-items: center;
justify-content: center;
transition: background 0.3s;
border : none;
}

.dark-mode-button{
    color : #FAFAFA;
}

.light-mode-button {
    color : black;
}

.download-button {
    background-color: #8153A5;
}

.user-buttons {
    background-color: #0969DA;
}

.action-button:hover {
    transition: background-color, color 1s ease-in-out;
    color : #EBEBEB
}

.download-button:hover {
    background-color: #644B7B;
}

.user-buttons:hover {
    background-color: #124c8e;
}

.action-button:active{
    transform: scale(0.95);
    transition: transform 0.1s;
}

.top-navbar {
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    column-gap: 10px;
    transition : width, height 2s;
}

.top-navbar a {
    font-size: 2rem;
}

.top-navbar h1{
    margin: 10px auto 10px 10px;
    font-size: 1.5rem;
}

.modal {
  min-width: 20%;
  max-height: 40%;
  display: flex;
  flex-direction:column;
  gap: 10px;
  margin: auto;
  border: solid 0.5px;
  padding : 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  text-align: left;
  z-index: 3;
}

.light-mode-modal {
    color : black;
    background-color: #FAFAFA;
    border-color: #D0D7DE;
}

.dark-mode-modal {
  color : #FAFAFA;
  background-color:#010409;
  border-color: #2c3138;
}

.modal input[type="email"], input[type="password"] , input[type="text"]{
  font-family: 'Iosevka Web';
  padding : 7px;
  outline:none;
  border-radius: 10px;
} 

.light-mode-text-field {
  border: solid 1px;
  color: black;
  border-color: #D0D7DE;
  background-color:#FAFAFA;
}

.dark-mode-text-field {
  border: solid 1px;
  color: #FAFAFA;
  border-color:#2c3138;
  background-color:#010409;
}

.modal form {
  display: flex;
  flex-direction:column;
  gap: 10px;
}

.user-modal-title {
  text-align: center;
}

dark-user-modal-title {
    color : #FAFAFA;
}

light-user-modal-title {
    color : black;
}

.submit-button {
  max-width: 80%;
  min-width: 75%;
  margin : 10px auto;
  background-color: #238636;
}

.submit-button:hover {
   background-color:#004d00;
   color : #EBEBEB
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 2;
}

.hidden {
  display : none;
}

.button-close {
  max-width : 20px;
  max-height: 25px;
  margin-left: auto;
  outline: none;
  border : none;
  border-color: #2c3138;
  background-color:#010409;
  color : #FAFAFA;
  border-radius : 100x;
}

.dark-mode-toggle {
    background: #161B2F;
}

.light-mode-toggle {
    background-color: white;
    color : black;
}

.error-message {
    text-align: center;
    color : red;
    font-weight: bold;
}
.loader {
          width: 48px;
          height: 48px;
          margin: auto;
          position: relative;
        }

        .loader:before {
            content: '';
            width: 48px;
            height: 5px;
            background: #000;
            opacity: 0.25;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow 0.5s linear infinite;
          }

          .loader:after {
            content: '';
            width: 100%;
            height: 100%;
            background: #fff;
            animation: bxSpin 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
          }

        @keyframes bxSpin {
          17% {
            border-bottom-right-radius: 3px;
          }
          25% {
            transform: translateY(9px) rotate(22.5deg);
          }
          50% {
            transform: translateY(18px) scale(1, .9) rotate(45deg);
            border-bottom-right-radius: 40px;
          }
          75% {
            transform: translateY(9px) rotate(67.5deg);
          }
          100% {
            transform: translateY(0) rotate(90deg);
          }
        }

        @keyframes shadow {
          0%, 100% {
            transform: scale(1, 1);
          }
          50% {
            transform: scale(1.2, 1);
          }
        }

.new-document-button {
    color : #FAFAFA,
}

.title-modal {
    max-height: 15%;
}

.tabs-container {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.tab {
    border : none;
    border-radius: 15px 15px 0px 0px;
    position: relative;
    height: 100%;
    display: inline-block;
}

.dark-mode-tab {
    color: #506882;
    background-color: #161B2F;
}

.light-mode-tab {
    color: black;
    background-color: #D0D0D7;
}

